@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nothing+You+Could+Do&display=swap');

img {
    height: 200px;
}

body {
    background-color: bisque;
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}
.four-equal {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 300px 300px;
  }

h1{
    color: #025939;
    font-family: 'Nothing You Could Do', cursive;
    text-shadow: 1px 1px 2px rgb(60, 179, 117), 0 0 1em blue, 0 0 0.2em rgb(0, 247, 255);
    font-size: 60px;
  }

h2{
  font-family: 'Julius Sans One', sans-serif;
  color:rgb(67, 13, 134);
  text-shadow: rgb(232, 142, 232) 1px 0 20px;
}

footer {
    min-height: 100vh;
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 24px;
    background-color: #7fd8c9;
    color: rgb(255, 255, 255);
    font-family: 'Julius Sans One', sans-serif;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color:#7fd8c9 ;
}

a {
    color: #086f5c;
    font-family: 'Handlee', cursive;
  }

a:hover {
    color: #411073;
  }

a:link{
    text-decoration: none;
 }

tr:nth-child(even){
    background-color: rgb(44, 245, 218);
  }

th {
  color:#025939
}


  .text-decor{
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(0, 0, 0);
  }
